@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
html, body{
    width: 100%;
    height: 100%;
}
body{
    background-color: #c2f1cf;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Raleway";
}
/* easteregg */
#easteregg-modal{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: 99;
}
 .easteregg-modal-window{
    position: relative;
    background-color: #ffd9c6;
    padding: 2em 2em;
    width: 25em;
    height: auto;
    text-align: center;
    
}

/* Navigation header properties */
.navbar{
    background: #a6d2b1;
}
.nav-items{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    padding-top: 0em;
    padding-left: 0;
}
.navbar .logo-name{
    font-size: 400%;
}
.navbar a{
    margin-left: 1em;
    font-size: 110%;
    text-decoration: none;
    color: black;
}
.navbar nav .current a{
    font-weight: bold;
}
.navbar nav a:hover{
    font-weight: bold;
}
/* Hero Section properties */

.Cv-content .smaller-sideinformation .name{
    font-size: 200%;
    text-align: center;
}
#picture-of-me{
    height: 300px;
    width: 250px;
}
.Cv-content{
    display: flex;
    flex-direction: column;
    margin: 2em;
}
.Cv-content .smaller-sideinformation{
    text-align: center;
    padding: 2em;
    margin-right: 0;
    background-color: #d5f8df;
}
.Cv-content .bigger-mainInformation{
    background-color:#d5f8df;
    margin-left: 0;
    padding: 2em;
}
.Cv-content .bigger-mainInformation h1{
    font-size: 1.5em;
}
.Cv-content .bigger-mainInformation h2{
    font-size: 1em;
}

/* Footer properties*/
.footer{
    background: #a6d2b1;
    text-align: center;

}
.footer img{
    margin-top: 1em;
    margin-bottom: 1em;
    height: 50px;
    width: 50px;
    background-color: #ffc5db;
    padding: 1em;
    border-radius: 50%;
}
.footer p{ 
    margin-top: 0;
}
@media only screen and (min-width: 800px){

    /* Hero Section properties*/
    .Cv-content{
        flex-direction: row;
        justify-content: center;
    }
    .Cv-content .smaller-sideinformation{
        text-align: left;
        width: 15em;
    }
    .Cv-content .smaller-sideinformation .name{
        border-bottom: solid;
        border-top: solid;
        border-left: hidden;
        border-right: hidden;
        border-color: mediumaquamarine;
    }
    .Cv-content .smaller-sideinformation h1{
        padding: 1em;
        text-align: center;
        border-bottom: solid;
        border-top: solid;
        border-left: hidden;
        border-right: hidden;
        border-color: mediumaquamarine;
    }
    .Cv-content .bigger-mainInformation{
        width: 25em;
        flex-direction: column;
    }
    .Cv-content .bigger-mainInformation h1{
        padding: 1em;
        text-align: center;
        border-bottom: solid;
        border-top: solid;
        border-left: hidden;
        border-right: hidden;
        border-color: mediumaquamarine;
    }
    .Cv-content .bigger-mainInformation h2{
        text-align: center;
    }
    .Cv-content .bigger-mainInformation .tidsperiod{
        font-weight: 100;
    }

    /* Footer Properties*/
    .footer{
        display: flex;
        flex-direction: row;
        place-content: space-between;
        padding-left: 5em;
        padding-right: 5em;
    }
    .footer .footer-icon{
        display: flex;
        place-content: space-between;
        text-align: left;
    }
    .footer .footer-icon p{
        margin-top: 2em;
        margin-left: 1em;
    }
    .footer .footer-icon .linkedIn{
        margin-top: 3em;
        margin-left: 1em;
    }
}


@media only screen and (min-width: 1200px) {

    /* Navigation header properties */

    .navbar {
        display: flex;
    }
    .navbar .nav-items{
        margin: auto;
        padding-top: 2em;
        list-style-type: none;
    }  
    /* Footer Properties*/

    .footer{
        margin-top: auto;
        z-index: 2;
    }
}
